<template name="descreng">
    <div class="col-md-6">
        <div class="page-header">
            <h1>Hærtaktisk Ordliste
                <small>(HTO)</small>
            </h1>
        </div>
    </div>
    <div class="col-md-6">
        <div class="page-header">
            <h1>Army Tactical Terms
                <small>(ATT)</small>
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">

            <p>

                HTO (<b>H</b>ær-<b>T</b>aktisk <b>O</b>rdliste) blev først udarbejdet af Faggruppe Sprog ved Hærens
                Officersskole, nu underlagt Institut for Sprog og Kultur ved Forsvarsakademiet.
                HTO indeholder termer, udtryk og forkortelser der er anvendt i autoriserede hær-taktiske tekster, dvs
                primært reglementer.
                HO faggrupperne Ledelse, Taktik, Taktisk Efterretning og Idræt har støttet med input til de danske
                termer og udtryk.
                Listen er opstillet alfabetisk på både dansk og engelsk. Ord og udtryk der indledes med tal er placeret
                før den alfabetiske liste.

            </p>

            <p>Listen er opstillet alfabetisk på både dansk og engelsk. Ord og udtryk der indledes med tal er
                placeret før den alfabetiske liste.</p>
            <ul>
                <li>Opslag efterfulgt af (UK) eller (US) angiver enten britisk eller amerikansk stavemåde eller
                    sprogbrug.
                </li>
                <li>Opslag efterfulgt af (1), (2), (3) osv angiver at ét ord har flere forskellige oversættelser,
                    afhængig af sammenhæng.
                </li>
                <li>Opslag efterfulgt af ! angiver at ordet/vendingen er en kommando.</li>
                <li>Opslag skrevet med STORE BOGSTAVER angiver at ordet/vendingen er et radio ekspeditionsord.</li>
            </ul>

            <p>HTO bliver opdateret med jævne mellemrum.</p>

            <p><b>Forslag til opdateringer er velkomne og kan sendes til:</b>
            </p>


            <ul>
                <li>fak-isk-et02@mil.dk</li>
                <li> fak-isk-et05@mil.dk</li>
            </ul>

            <p><a class="btn btn-default black" href="/searchEng" role="button">Til dansk - engelsk</a>
                <a class="btn btn-default black" href="/searchEngDa" role="button">Til engelsk - dansk</a></p>

            <div class="spacer"></div>
        </div>

        <div class="col-md-6">

            <p>The <b>ATT</b> is a list of <b>A</b>rmy <b>T</b>actical <b>T</b>erms first compiled by the Language Department at the Royal Danish
                Military Academy (RDMA), which is now operating under the aegis of the Department of Languages and
                Cultural Studies at the Royal Danish Defence College.</p>

            <p>
                The ATT is not a dictionary, but a list of authorised terms, expressions and abbreviations found in army
                tactical publications, mainly field manuals.
            </p>

            <p>
                The former RDMA departments of Leadership, Tactics, Physical Training and Tactical Intelligence provided
                valuable input in endorsing the Danish terms used.
            </p>

            <p> Terms are listed in alphabetical order in both English and Danish.</p>
<ul>

    <li>Items followed by (UK) or (US) denote either British or Americans spelling or usage.</li>
    <li>Items followed by (1), (2), (3) etc. denote that the item has several different meanings depending on the context.</li>
    <li>Items followed by ! denote that the word/expression is a command</li>
    <li>Items written in CAPITAL LETTERS denote procedural words(prowords) and phrases used in radio communications</li>
</ul>
            <p>The ATT is updated on a regular basis.</p>
            <p>Suggestions for inclusion of terms, phrases and abbreviations are most welcome and should be directed to <b>fak-isk-et02@mil.dk</b>  or <b>fak-isk-et05@mil.dk</b>  at the Dept. of Languages and Cultural Studies.</p>

        </div>

        <p><a class="btn btn-default black" href="/searchEng" role="button">Danish - English</a>
            <a class="btn btn-default black" href="/searchEngDa" role="button">English - Danish</a></p>

        <div class="spacer"></div>
    </div>

</template>
