<template name="footer">

    <!-- FOOTER -->
    <div class="spacer"></div>
    <div class="footer1" >  </div>
    <footer >

        <div class="container" style="margin-right: -30px">

                <p>&copy; {{year}} Forsvaret &nbsp; &nbsp; &nbsp; <a target="_blank" href="http://www.fels.dk">Udgivet af Forsvarets Elektroniske Skole</a> &ndash;
                    Telefon: 72817234  &ndash;
                    <a target="_blank" href="http://www.fak.dk/uddannelse/fels/support">Support</a>
                </p>

   </div>

    </footer>



</template>
