<template name="home">


    <div class="marketing">




        <div id="target"></div>
        {{fade}}


        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <img class="img-responsive round" src="Fra.jpg" alt="Generic placeholder image">
<div class="heighth2">
                <h2>Fransk ordliste</h2>
</div>
                <div class="showmore">
                <p>Ordlisten er først og fremmest at betragte som et praktisk redskab for forsvaret som helhed –
                    både i forbindelse med læsning af fransksproget faglitteratur
                    og i de praktiske situationer, hvor danske væbnede... samarbejder direkte med fransksproget personel
                    eller opererer i fransktalende områder.</p>
                </div>
                <p><a class="btn btn-default black" href="/descriptionfr" role="button">Læs mere</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <img class="img-responsive round" src="Eng.jpg" >
                <div class="heighth2">
                <h2>Hærtaktisk ordliste</h2>
                    </div>
                <div class="showmore">
                <p>HTO er udarbejdet af Sektionen for Engelsk, Institut for Sprog og Kultur.
                    Den indeholder termer, udtryk og forkortelser der er anvendt i autoriserede engelsksprogede hær-taktiske tekster,
                    dvs... reglementer.</p>
                    </div>
                <p><a class="btn btn-default black" href="/descriptioneng" role="button">Læs mere</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <img class="img-responsive round" src="Dan.jpg" alt="Generic placeholder image" >
                <div class="heighth2">
                <h2>Hærens Taktiske Ordbog</h2>
</div>
                <div class="showmore">
                <p>Hærens Taktiske Ordbog definerer en række af de taktiske begreber, der anvendes i den danske hær.
                    Ordbogen er autoritativ i forhold til definitioner og forkortelser,
                    og den er tilgængelig på FIIN, internettet... som mobil applikation.</p>
                    </div>

                <p><a class="btn btn-default black" href="/descriptiontac" role="button">Læs mere</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        </div>

    <hr class="fancy-line"/>
    <div >
        <h2 >Om Forsvarets ordlister

        </h2>
    </div>
    <div class="row">
<div class="col-xs-12 col-sm-12 col-lg-12 front-text ">
       <!-- <h1>Navbar example</h1>-->
        <p>Forsvarets ordlister er blevet til i et samarbejde mellem  Sektionen for Engelsk, Institut for Sprog og Kultur, Hærens officerskole og Institut for Pædagogik
            og Fjernundervisning ved Forsvarskademiet. </p>

          <p>  Forsvarets ordlister er tilgængelige på FIIN via. 1-NET, på internettet og kan tilgås fra alle typer af mobile enheder.</p>

        <p>Hvis du har tilføjelser og rettelser bedes du kontakte de rescource personer der står opført på undersiderne til de forskellige
        ordlister</p>
        <!--<p>
            <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>-->
</div>
</div>

</template>
