<template name="vejl">

    <p>
        Søgningen sker som en automatisk filtrering, og der skal ikke trykkes Enter/Return.
        Begrebet eller forkortelsen skal staves korrekt. Søgefunktionen finder automatisk de identiske ord.
        <br/>

        Vær opmærksom på, første gang du åbner ordlisten er der en stor mængde data der skal hentes og gemmes i din browser.
        Det betyder, at afhængig af båndbredde kan det vare op til 45 sekunder før du kan søge. Når data er hentet vil der ikke være forsinkelse i
        din søgning.

    </p>

</template>