<template name="descrfr">
    <div class="page-header">
        <h1>Fransk ordliste</h1>
    </div>
    <div class="row">
        <div class="col-md-6">

            <p> <b>Forord</b></p>

            <p>
                Denne online udgave af Dansk-Fransk og Fransk-Dansk Militær Ordliste er lavet på basis af 5.
                reviderede
                papirudgave af samme publikation og er resultatet af lektor Pierre Hyllesteds mangeårige forskning i
                og læsning
                af militærfaglig litteratur samt undervisning på officersskolerne og Forsvarsakademiet.
            </p>

            <p>
                Ordlisten er først og fremmest at betragte som et praktisk redskab for forsvaret som helhed – både i
                forbindelse
                med læsning af fransksproget faglitteratur og i de praktiske situationer, hvor danske væbnede
                styrker
                samarbejder direkte med fransksproget personel eller opererer i fransktalende områder.
            </p>

            <p>
                En del civile gloser, der anvendes i militær sammenhæng, er medtaget, da det tilstræbes at dække
                ordforråd, der
                er nødvendigt under internationale fredsbevarende og fredsskabende operationer samt humanitære
                aktioner.
            </p>

            <p>
                Eventuelle bemærkninger, forslag til ændringer, tilføjelser eller forbedringer modtages gerne fra
                brugerne og
                kan sendes til <b>isk-et01@fak.dk</b>
            </p>

            <p><a class="btn btn-default black" href="/search" role="button">Til dansk - fransk</a>
                <a class="btn btn-default black" href="/searchfr" role="button">Til fransk - dansk</a></p>
            <div class="spacer"></div>

            </div>
        <div class="col-md-6">
            <p> <b>PRÈFACE</b></p>

            <p>  La présente cinquième édition revisée et augmentée du Vocabulaire Français – Danois, élaborée par Pierre Hyllested, maître de conférences,
                est le resultat de nombreuses années de recherches, de lecture de documentation militaire et d’enseignement du langage militaire français
                dans les Écoles royales militaires et au Collège interarmées de défense.</p>

            <p>On y trouvera, outre des vocables spécifiquement militaires, également des mots civils servant dans des contextes militaires,
                l’objectif étant de couvrir un vocabulaire nécessaire durant des opérations internationales en territoires francophones ainsi qu’en collaboration
                avec du personnel militaire francophone.
            </p>

        </div>
        </div>
    
</template>