<template name="descrtac">

        <div class="page-header">
            <h1>HRN 918-021 Hærens Taktiske Ordbog</h1>
        </div>


    <div class="row">
        <div class="col-md-6">
            <p>Hærens Taktiske Ordbog definerer en række af de taktiske begreber, der anvendes i den danske hær.
                Ordbogen er autoritativ i forhold til definitioner og forkortelser, og den er tilgængelig på FIIN,
                internettet og som mobil applikation.
                Søgningen kan ske vha. to typer filtre:
            </p>
            <ul>
                <li>Filtrer alle kolonner, og</li>
                <li>Filtrer en udvalgt kolonne, eks. Søg Begreber.</li>
            </ul>

            <p>
                Søgningen sker som en automatisk filtrering, og der skal ikke trykkes Enter/Return. Begrebet eller
                forkortelsen skal staves korrekt. Søgefunktionen finder automatisk de identiske ord.

                Hvis et begreb delvist defineres ud fra et præfix, så vil det i nogle tilfælde kun være opgivet i sin
                grundform. Akse er fx defineret, hvor forskellige aksetyper ikke har en selvstændig definition. Akse
                defineres som hovedretningen for en bevægelse. Angrebsakse er således hovedretningen for et angreb.

                Danske taktiske begreber kan optages i Taktisk Ordbog. Begreber på engelsk kan anvendes, hvis der ikke
                findes et tilsvarende dansk begreb. Ordbogen optager primært begreber, der er relevante for flere
                våbenarter eller bruges bredt inden for en våbenart. Tekniske beskrivelser, specifikke enheder og
                huskeord optages ikke. NATO begreber defineres i AAP-6 og indgår som udgangspunkt ikke i Taktisk Ordbog.
                NATO effektermer er beskrevet i STANAG 2287. Danske effekttermer beskrives i Taktisk Ordbog.
            </p>

            <p><a class="btn btn-default black" href="/searchTactic" role="button">Til Hærens Taktiske Ordbog</a>
               </p>
            <div class="spacer"></div>

        </div>
        <div class="col-md-6">
            <p>Forslag til nye definitioner eller revision af eksisterende definitioner sendes til Taktikafdelingen på
                Hærens Officersskole. Taktikafdelingen indhenter herefter bidrag fra relevante interessenter og løfter
                eventuelt definitionen til godkendelse i Arbejdsgruppe Doktrin. Hvis definitionen godkendes, indføres
                den i Taktisk Ordbog.

                I Taktisk Ordbog defineres et begreb efter dets betydning. Formål, anvendelse og krav beskrives i
                enhedsreglementer og bør ikke indgå i definitioner eller bemærkningsfeltet. Begreber skal defineres kort
                og præcist og kunne anvendes af alle interessenter. Definitioner skrives på dansk.
            </p>

            <p>Taktisk Ordbog er ikke klassificeret og er frigivet til internetbrug.</p>

            <p><u>Kontaktoplysninger:</u></p>

            <address>
                <strong>Hærens Officersskole</strong><br>
                Att.: Taktikafdelingen<br>
                Frederiksberg Slot<br>
                Roskildevej 28<br/>
                2000 Frederiksberg<br/>
            </address>


        </div>
    </div>

</template>