<!--<template name="resetpasswd">
    <div id="resetmodal" class="modal fade modalheight" tabindex="-1" data-width="760" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> resetModalInner}}
            </div>
        </div>
    </div>
</template>

<template name="resetModalInner">

    <div class="modal-body">
        {{#if resetPassword}}
            &lt;!&ndash;<form id="new-password" action="action">
                <div>
                    <input type="text" id="new-password-password" />
                    <input type="submit" value="Skift dit kodeord" />
                </div>
            </form>&ndash;&gt;
        {{else}}
            <form id="recovery-form" action="action">
                <div>
                    <input type="text" id="recovery-email" />
                    <input type="button" value="Skift dit kodeord" />
                </div>
            </form>
        {{/if}}


    </div>
</template>-->


<template name="ForgotPassword">

    <form action="/forgot" id="forgotPasswordForm" method="post">
        <input id="forgotPasswordEmail" type="text" name="email" placeholder="Email Address">
        <input class="btn-submit" type="submit" value="Send">
    </form>
    <!-- end #forgot-password-form -->

</template>

<template name="ResetPassword">

    {{#if resetPassword}}
        <form action="/reset-password"  id="resetPasswordForm" method="post">
            <input id="resetPasswordPassword" name="password" placeholder="New Password" type="password" >
            <input id="resetPasswordPasswordConfirm" name="password-confirm" placeholder="Confirm" type="password" >
            <input class="btn-submit" type="submit" value="Reset">
        </form>
        <!-- end #reset-password-form -->
    {{/if}}

</template>